.c-hero {
  $animation: moveInBottom 0.5s ease both;

  &__section {
    position: relative;
    height: 90vh;
    overflow: hidden;

    @include respond(tab-port) { height: 100vh; }
    @include respond(tab-land) { height: 110vh; }
  }

  &__text {
    text-align: center;
    position: absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%, -50%);
    width: 80%;

    @include respond(tab-port) { text-align: left; width: 100%; }
    @include respond(desktop) {
      position: absolute;
        top: 20%;
        left: 0%;
      transform: translate(0);
    }
  }

  &__title {
    animation: $animation;
    font-size: $font-size-largest;
    font-weight: 700;

    @include respond(tab-port) { font-size: $font-size-mega; }
    @include respond(tab-land) { font-size: 8.89rem; }
    @include respond(desktop) { font-size: 11.97rem; }
  }

  &__subtitle {
    animation: $animation;
    font-size: $font-size-normal-big;
    font-weight: 400;
    margin-top: -1rem;

    @include respond(tab-port) { font-size: medium; }

    @include respond(tab-land) {
      font-size: $font-size-large;
      margin-top: -2rem;
    }

    @include respond(desktop) {
      margin-top: -4rem;
      font-size: $font-size-larger;
    }
  }

  &__description {
    animation: $animation;
    color: $color-grey-lighter;
    font-size: $font-size-normal;
    margin-top: $spacing-medium;
    
    @include respond(tab-land) { font-size: $font-size-medium; }
    @include respond(desktop) { margin-top: $spacing-large; }
  }

  &__particles {
    animation: fadeIn 3s ease both;
  }

  &__waves {
    animation: $animation;
    animation-name: moveInBottomLarge;
    position: absolute;
      bottom: -3px;
    height: auto;
    width: 120%;
  }
}