.c-form {
  &__container {
    margin-top: $spacing-medium;

    @include respond(tab-land) {  margin-top: $spacing-large; }
  }

  &__group {
    display: flex;
      flex-direction: column;
    margin-bottom: $spacing-medium;
    width: 100%;

    @include respond(tab-land) { margin-bottom: $spacing-large; }
  }

  &__label {
    color: $color-grey-light;
    position: relative;
      left: 2px;
    transition: all $transition-append;
    order: -1; // position above input
  }

  // Submit button w/ reCAPTCHA
  &__input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-grey-dark;
    color: $color-grey-lightest;
    font-size: $font-size-normal;
    font-weight: 500;
    line-height: 1.6;
    margin-top: $spacing-smallest;
    transition: border-bottom $transition-append, color $transition-append;

    @include respond(tab-port) { font-size: $font-size-normal-big; }
    
    &:focus {
      background-color: transparent;
      border-bottom: 1px solid $color-green-dark;
      outline: none;

      &:invalid { border-bottom: 1px solid $color-red-dark; }
    }

    &::-webkit-input-placeholder {
      color: $color-grey-light;
      line-height: 2.4rem;
    }
  }

  &__input:placeholder-shown ~ &__label  {
    opacity: 0;
    transform: translateY(4rem);
    visibility: hidden;
  }

  &__error {
    color: $color-red;
    font-size: $font-size-small;
    font-weight: 500;
    margin-bottom: $spacing-small;

    @include respond(tab-port) { font-size: $font-size-normal; }
  }

  &__recaptcha {
    margin-bottom: $spacing-small;
    margin-top: -$spacing-smallest;
    position: relative;
      left: -1px;
    
    @include respond(tab-port) { margin-bottom: $spacing-medium; }
  }

  &__submit {
    margin-top: $spacing-smallest;
  }
}