.c-button {
  border: 1px solid $color-grey-light;
  border-radius: 1px;
  color: $color-grey-light;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-family: $font-secondary;
  overflow: hidden;
  padding: 1rem 3rem;
  height: 3em; width: 10em;
  position: relative;
  text-decoration: none;
  transition: 
    background 0.8s, 
    border $transition-append, 
    color $transition-append,
    padding $transition-append;

  &:hover {
    color: $color-grey-lighter;
    border-color: $color-grey-lighter;
  }

  &:active {
    background-color: $color-grey;
    background-size: 100%;
    transition: background 0s;
    outline: none;
  }

  &:focus {
    outline: 1px solid $color-off-black;
  }

  &--go:hover {
    border-color: var(--color);
    color: var(--color-lighter);
    padding-right: 2.2rem;

    & .c-project__arrow {
      transform: translateX(1.1rem);
    }
  }
}

.c-button--black {
  background-color: $color-black;
  background: $color-black radial-gradient(circle, transparent 1%, $color-off-black 1%) center / 15000%;
}

.c-button--dark {
  background: $color-off-black radial-gradient(circle, transparent 1%, $color-off-black 1%) center / 15000%;
}