.c-process {
  &__section {
    background-color: $color-black;
  }

  &__content {
    padding-top: $spacing-larger;
    padding-bottom: $spacing-largest;
    display: flex;
      flex-direction: column;
      align-items: center;
    text-align: center;
  }

  &__heading {
    color: $color-grey-lightest;
  }

  &__tabs {
    display: grid;
      grid-template-columns: repeat(3, 10rem);
    margin-top: $spacing-medium;
    position: relative;
  }

  &__tab {
    color: $color-grey-dark;
    cursor: pointer;
    font-size: $font-size-normal;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: $spacing-smallest;
    padding-bottom: $spacing-smallest;
    transition: background-color $transition-append, color $transition-append;

    &:hover, &.is-current {
      background-color: rgba($color-red-lighter, 0.2);
      color: $color-red;
    }
  }

  &__bar {
    background-color: $color-grey-darkest;
    height: 3px; width: 100%;
    grid-column: 1 / -1;
    margin: 0 auto;
  }

  &__highlight {
    background-color: $color-red;
    height: 3px; width: 100%;
    position: absolute;
      bottom: 0;
    transition: all $transition-append;
    transition-delay: 100ms;
    grid-column: 1 / 2;

    &.is-first { transform: translateX(0); }
    &.is-second { transform: translateX(100%); }
    &.is-third { transform: translateX(200%); }
  }

  &__card {
    background-color: $color-off-black;
    display: flex;
      align-items: center;
    margin-top: $spacing-large;
    padding: $spacing-large $spacing-medium;
    text-align: left;
    width: 70rem;

    &.is-right {
      text-align: right;

      .c-process__icon-container {
        margin-right: 0;
        margin-left: $spacing-medium;
      }

      .c-process__icon { transform: rotateY(180deg); }
      .c-process__text { order: -1; }
    }
  }

  &__icon-container {
    background-color: rgba($color-grey-darkest, 0.5);
    padding: $spacing-large;
    margin-right: $spacing-medium;
  }

  &__icon {
    color: rgba($color-red, 0.8);
    font-size: 5rem;
  }

  &__step {
    color: $color-grey;
    text-transform: uppercase;
    font-size: $font-size-smaller;
    font-weight: 600;
    letter-spacing: 2px;
  }

  &__title {
    color: $color-grey-lightest;
  }

  &__description {
    color: $color-grey-light;
    font-size: 1.8rem;
    margin-top: 5px;
  }
}