.c-loader {
  &__background {
    background-color: $color-black;
    height: 100%; width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 9999;
  }

  &__content {
    display: flex;
      align-items: center;
      justify-content: center;
    height: 100%; width: 100%;
  }

  &__svg {
    transform: translateY(-10vh) rotate(-90deg);
  }

  &__circle {
    fill: none;
    stroke-linecap: round;
    stroke: var(--color);
    stroke-width: 4;
    stroke-opacity: 1;
    opacity: 0;
  }

  &__icon {
    opacity: 0;
    position: absolute;
      left: 50%;
      top: 40%;
    transform: translate(-53%, -50%);
    width: 5rem;
    z-index: 10;

    &--zephyr { width: 8rem; }
  }
}