.c-testimonial {
  &__arrow {
    color: $color-grey-darker;
    transition: color $transition-append, transform $transition-append;
    font-size: 5rem;

    @include respond(tab-land) { font-size: 5rem; }

    &:hover { color: var(--color); }
  }

  &__card { 
    background-color: $color-off-black;
    border-radius: 3px;
    display: flex;
      flex-direction: column;
      justify-content: center;
    margin: $spacing-medium auto;
    padding: $spacing-medium;
    position: relative;
    width: 100%; max-width: 100rem;

    @include respond(tab-port) { width: 80%; }
    @include respond(tab-land) {
      margin: $spacing-large auto;
      padding: $spacing-larger;
    }
  }

  &__content {
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
  }

  &__icon {
    color: var(--color-faded);
    font-size: 4rem;
    position: absolute;
      top: -2rem;
      left: -2rem;

    @include respond(tab-land) {
      font-size: 10rem;
      top: -3rem;
      left: -3rem;
    }
  }

  &__text {
    color: $color-grey-lighter;
    font-family: $font-secondary;
    font-size: $font-size-normal;
    font-weight: 500;
    white-space: pre-line;

    @include respond(tab-land) { font-size: $font-size-large; }
  }

  &__person {
    color: $color-grey-lighter;
    font-weight: bold;
    font-size: $font-size-small;
    margin-top: $spacing-large;

    @include respond(tab-land) { font-size: $font-size-medium; }
  }

  &__position {
    color: $color-grey;
    font-size: $font-size-smallest;
    
    @include respond(tab-land) { font-size: $font-size-small; }
  }
}

.slick {
  &-arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;  
      top: 50%;
      transform: translateY(-50%);
    z-index: 10;
  
    &:focus, &:active { outline: none; }
  }

  &-disabled {
    opacity: 0;
    transition: opacity $transition-append;
  }

  &-list {
    padding: 0 !important;
  }

  &-next {
    right: 0%;
  }

  &-track {
    cursor: default;
  }

  &-slide &-current {
    opacity: 0;
  }
}


.slick-dots {
	display: flex !important;
	  justify-content: center;
  list-style-type: none;
	margin: 0;
	padding: 1rem 0;
  
  li { margin: 0 0.25rem; }
	
  button {
    background-color: transparent;
    border: 2px solid $color-grey-darkest;
    border-radius: 100%;
    display: block;
    height: 1.5rem; width: 1.5rem;
    margin: auto $spacing-smaller;
    padding: 0;
    text-indent: -9999px;
    transition: background $transition-append;

    &:hover { background-color: $color-grey-darkest; cursor: pointer; }
    &:focus, &:active { outline: none; }
  }
	
  li.slick-active button {
    border: 2px solid transparent;
    background-color: var(--color-faded);
  }
}