// FROM: https://medium.com/@kathykato/creating-reveal-effects-on-scroll-9cb04b39c9a5
[data-aos="reveal-top"],
[data-aos="reveal-left"],
[data-aos="reveal-right"],
[data-aos="reveal-bottom"] {
  transition-property: transform;
  transition-delay: 0.5s;
}

[data-aos="reveal-top"] {
  transform: scaleY(1);
  &.aos-animate {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
}

[data-aos="reveal-left"] {
  transform: scaleX(1);
  &.aos-animate {
    transform: scaleX(0);
    transform-origin: 0% 100%;
  }
}

[data-aos="reveal-right"] {
  transform: scaleX(1);
  &.aos-animate {
    transform: scaleX(0);
    transform-origin: 100% 0%;
  }
}

[data-aos="reveal-bottom"] {
  transform: scaleY(1);
  &.aos-animate {
    transform: scaleY(0);
    transform-origin: 0% 100%;
  }
}

[data-aos="reveal-item"] {
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 0s;

  &.aos-animate {
    visibility: visible;
  }
}

.c-block-reveal {
  $easing: cubic-bezier(0.83, 0, 0.17, 1);
  $transition-time: 0.7s;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &--inline { display: inline-block; }

  &__block {
    // Match the background
    background: $color-off-black;
    height: 101%; width: 100%;
    position: absolute;
      top: 0;
    z-index: 10;

    &--off-white { background: $color-off-white; }
    &--off-black { background: $color-off-black; }
    &--black { background: $color-black; }
  }

  &__block::before {
    background: var(--color-darker);
    content: '';
    position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    transition-property: transform;
    transition-duration: $transition-time;
    transition-timing-function: $easing;
  }

  &__block.is-top.aos-animate::before,
  &__block.is-bottom.aos-animate::before {
    transform: scaleY(1);
  }

  &__block.is-left.aos-animate::before,
  &__block.is-right.aos-animate::before {
    transform: scaleX(1);
  }

  &__block.is-top::before {
    transform: scaleY(0);
    transform-origin: 0% 100%;
  }
  
  &__block.is-left::before {
    transform: scaleX(0);
    transform-origin: 100% 0%;
  }
  
  &__block.is-right::before {
    transform: scaleX(0);
    transform-origin: 0% 100%;
  }
  
  &__block.is-bottom::before {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
}