.c-contact {
  &__text {
    color: $color-grey-lighter;
    grid-column: wide-start / wide-end;
    margin-bottom: $spacing-small;
    font-size: $font-size-normal-big;
    font-weight: 400;

    @include respond(tab-port) { font-size: $font-size-medium; }
    @include respond(tab-land) { font-size: $font-size-large; }
  }

  &__form {
    grid-column: wide-start / wide-end;

    @include respond(tab-port) { grid-column: center-start / center-end; }
    @include respond(desktop) { grid-column: narrow-start / narrow-end; }
  }
}