.c-header {
  $animation: moveInTop 0.4s ease-in-out both;
  background-color: transparent;
  display: flex;
    align-items: center;
    justify-content: space-between;
  height: $header-height;
  padding: 4rem $side-gap;
  position: fixed;
  transition: background-color $transition-append, transform $transition-append;
  width: 100%;
  z-index: 999;

  &.is-hidden {
    transform: translateY(-20rem);
  }

  &.is-dark {
    background-color: $color-black;
    border-bottom: 1px solid $color-off-black;

    .c-header__nav-link { color: $color-grey-lightest; }
    .c-header__logo-container { background-color: darken($color-grey-faded, 5%); }
    .c-header__logo-background {
      background-color: $color-grey-darkest;
    }
  }

  &__logo-container {
    border-radius: 50%;
    cursor: pointer;
    display: flex;
      align-items: center;
      justify-content: center;
    height: 6rem; width: 6rem;
    overflow: hidden;
    position: relative;
    z-index: 2000;
  }

  &__logo-container:hover &__logo-background {
    transform: scale(1);
  }

  &__logo-background {
    background-color: rgba(var(--color-rgb), 0.2);
    border-radius: 50%;
    content: "";
    position: absolute;
    height: 100%; width: 100%;
    transform: scale(0);
    transition: transform 0.3s ease;
  }

  &__logo {
    animation: $animation;
    cursor: pointer;
    display: block;
    transition: transform 0.5s ease-in-out;
    width: 3rem;
    z-index: 2;

    &.is-zephyr { width: 5rem; }
  }

  &__nav-item {
    display: inline-block;
    list-style-type: none;
    margin-right: $spacing-medium;
    animation: $animation;
  }

  &__nav-link {
    color: $color-off-black;
    position: relative;
    transition: color $transition-append;

    &:hover {
      color: $color-grey-dark;
      &:after { width: 100%; }
    }

    &:last-of-type { margin-right: 0; }
  }

  &__nav-link:after {
    background: var(--gradient);
    content: "";
    height: 2px; width: 0;
    position: absolute;
      bottom: -3px;
      left: 0;
    transition: width 100ms ease-in;
    transition-delay: 100ms;
  }
}