.c-section {
  &__header {
    display: flex;
      align-items: center;
      justify-content: center;
    margin-bottom: $spacing-small;
    position: relative;

    @include respond(tab-port) { margin-bottom: $spacing-medium; }
    @include respond(tab-land) { margin-bottom: $spacing-large; }

    &--black {
      color: $color-grey-darkest;
      .c-section__line { background-color: $color-grey-darkest; }
    } 
    &--grey {
      color: $color-grey-darker;
      .c-section__line { background-color: $color-grey-darker; }
    } 
    &--red {
      color: var(--color-faded);
      .c-section__line { background-color: var(--color-faded); }
    }
    &--white {
      color: $color-grey-lightest;
      .c-section__line { background-color: $color-grey-lightest; }
    }
  }

  &__heading {
    color: inherit;
    font-size: $font-size-largest;
    min-width: max-content;

    @include respond(tab-port) { font-size: $font-size-title-large; }
    @include respond(tab-land) { font-size: $font-size-title-larger; }
    @include respond(desktop) { font-size: $font-size-title-largest; }
  }

  &__line {
    @include respond(phone-only) { display: none; }

    background-color: inherit;
    height: 3px;
    width: 100%;

    &--left {
      margin-right: $spacing-medium;

      @include respond(tab-land) { margin-right: $spacing-large; }
      @include respond(desktop) { margin-right: $spacing-larger; }
    }

    &--right {
      margin-left: $spacing-small;

      @include respond(tab-land) { margin-left: $spacing-large; }
      @include respond(desktop) { margin-left: $spacing-larger; }
    }
  }
}