.c-hero {
  &__section {
    min-height: 100vh;
    position: relative;

    @include respond(big-desktop) { min-height: 110vh; }
  }

  &__text {
    position: absolute;
      top: 20%;
  }

  &__title {
    font-size: 8.98rem;
    font-weight: 600;
  }

  &__subtitle {
    font-weight: 400;
    margin-top: -3rem;
  }

  &__description {
    margin-top: $spacing-large;
  }

  &__waves {
    position: absolute;
      bottom: 0;
  }
}