.c-about {
  &__cards {
    display: flex;
      justify-content: center;
  }

  &__card {
    border-radius: 1px;
    width: 44em; min-width: 44em;
  }

  &__card--left {
    background-color: $color-grey-darkest;
    color: $color-off-white;
    padding: $spacing-larger;
    z-index: 1;
  }

  &__card--right {
    background-color: $color-off-black;
    color: $color-grey-lightest;
    transform: translate(-12rem, 8rem);
  }

  &__right-content {
    position: absolute;
      top: 50%;
      left: 50%;
    transform: translate(-50%, -50%);
  }

  &__grid {
    display: flex;
  }

  &__column:last-of-type {
    margin-left: $spacing-larger;
  }

  &__list {
    margin-left: 2.2rem;
  }

  &__list-item {
    color: $color-grey-lighter;
    list-style-type: none;
    margin-top: $spacing-smallest;
    position: relative;
  }

  &__list-item:before {
    color: $color-red-light;
    content: "▹";
    line-height: 1.4;
    position: absolute;
      left: -2rem;
  }
}