.c-project {
  &__grid {
    display: flex;
      flex-direction: column;
      align-items: center;
    grid-column: full-start / full-end;

    @include respond(tab-land) {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      grid-column: wide-start / wide-end;
    }
  }

  &__container {
    background-color: $color-off-black;
    background: $gradient-dark;
    border-radius: 1px;
    box-shadow: $box-shadow-default;
    color: $color-off-white;
    display: flex;
      align-items: center;
    height: 25rem;
    margin-top: $spacing-medium;
    overflow: hidden;
    position: relative;
    text-align: center;

    @include respond(tab-port) {
      height: 30rem;
      width: 40rem;
    }

    @include respond(tab-land) {
      margin-left: $spacing-large;
      margin-right: $spacing-large;
    }

    &:hover {
      .c-project__image {
        opacity: 0;
        transform: scale(1.2);
      }
      .c-project__text { opacity: 1; }
    }
  }

  &__text {
    font-weight: 500;
    margin: 0 auto;
    opacity: 0;
    width: 80%;
    transition: opacity $transition-append;
    z-index: 2;
  }

  &__description {
    margin-bottom: $spacing-medium;
  }

  &__arrow {
    display: inline-block;
    transform: translate(5px);
    transition: transform $transition-append;
  }

  &__image-container {
    position: absolute;
      top: 0;
      left: 0;
    height: 100%; width: 100%;
  }

  &__image {
    object-fit: cover;
    height: 100%; width: 100%;
    transition: opacity $transition-append, transform $transition-append;
  }
}