.c-social {
  &__icons {
    display: flex;
      align-items: center;
      justify-content: center;
    list-style-type: none;

    &--start { justify-content: flex-start; }
    &.is-animated { animation: moveInBottom 0.5s ease-in-out both; }
  }

  &__link {
    color: $color-grey-lighter;
    list-style-type: none;
    font-size: 2rem;
    transition: color $transition-append;

    @include respond(tab-port) { font-size: 2.6rem; }

    &:hover { color: var(--color-light); }
  }
}