.c-testimonial {
  &__section {
    background-color: $color-grey-lightest;
  }

  &__arrow {
    color: $color-grey-dark;
    font-size: 5rem;
    transition: color $transition-append, transform $transition-append;

    &:hover { color: $color-red; }
  }

  &__card { 
    background-color: $color-off-white;
    box-shadow: $box-shadow-default;
    border-radius: 3px;
    display: flex;
      flex-direction: column;
      justify-content: center;
    margin: $spacing-large auto;
    padding: $spacing-larger;
    position: relative;
    width: 80%; max-width: 100rem;
  }

  &__content {
    cursor: pointer;
    margin: 0 auto;
    width: 80%;
  }

  &__icon {
    color: $color-red-faded;
    font-size: 10rem;
    position: absolute;
      top: -3rem;
      left: -3rem;
  }

  &__text {
    font-size: $font-size-large;
    font-weight: 500;
    white-space: pre-line;
  }

  &__person {
    color: $color-grey-darkest;
    font-weight: bold;
    font-size: $font-size-medium;
    margin-top: $spacing-large;
  }

  &__position {
    color: $color-grey-darker;
    font-size: $font-size-normal;
  }
}

.slick-arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;  
    top: 50%;
    transform: translateY(-50%);
  z-index: 10;
}

.slick-next {
  right: 0%;
}

.slick-disabled {
  opacity: 0;
  transition: opacity $transition-append;
}


.slick-dots {
	display: flex !important;
	  justify-content: center;
  list-style-type: none;
	margin: 0;
	padding: 1rem 0;
  
  li { margin: 0 0.25rem; }
	
  button {
    border: 1px solid $color-grey-lighter;
    border-radius: 100%;
    display: block;
    height: 1.5rem; width: 1.5rem;
    margin: auto $spacing-smaller;
    padding: 0;
    text-indent: -9999px;
    transition: background $transition-append;

    &:hover { cursor: pointer; }
  }
	
  li.slick-active button {
    border: 1px solid transparent;
    background-color: $color-red;
  }
}