.c-header {
  $animation: moveInTop 0.4s ease-in-out both;
  background-color: transparent;
  display: flex;
    align-items: center;
    justify-content: space-between;
  height: $header-height;
  padding: 4rem $side-gap;
  position: fixed;
  transition: background-color $transition-append, transform $transition-append;
  width: 100%;
  z-index: 999;

  &.is-hidden {
    transform: translateY(-20rem);
  }

  &.is-dark {
    background-color: $color-black;
    border-bottom: 1px solid $color-off-black;

    .c-header__nav-link { color:$color-grey-lightest; }
    .c-header__logo-container { background-color: $color-grey-faded; }
  }

  &__logo-container {
    background-color: transparent;
    border-radius: 50%;
    display: flex;
      align-items: center;
      justify-content: center;
    height: 6rem; width: 6rem;
    transition: background-color $transition-append;
  }

  &__logo {
    animation: $animation;
    cursor: pointer;
    display: block;
    transition: transform 0.5s ease-in-out;
    width: 3rem;
  }

  &__nav-item {
    display: inline-block;
    list-style-type: none;
    margin-right: $spacing-medium;
    animation: $animation;
  }

  &__nav-link {
    color: $color-off-black;
    position: relative;
    transition: color $transition-append;

    &:hover {
      color: $color-grey-dark;
      &:after { width: 100%; }
    }

    &:last-of-type { margin-right: 0; }
  }

  &__nav-link:after {
    background: $gradient-red;
    content: "";
    height: 2px; width: 0;
    position: absolute;
      bottom: -3px;
      left: 0;
    transition: width 100ms ease-in;
    transition-delay: 100ms;
  }
}