.c-why {
  &__icons {
    @include respond(tab-port) {
      display: flex;
        flex-direction: row;
        justify-content: space-between;
      width: 100%;
    }
  }

  &__icon-container {
    margin-bottom: $spacing-large;
  }

  &__icon {
    margin-bottom: $spacing-smaller;
    stroke: var(--color);

    @include respond(tab-land) { margin-bottom: $spacing-medium; }
  }
}