.c-nav-list {
  &__item {
    list-style-type: none;
  }

  &__link {
    color: $color-grey-darker;
    display: inline-block;
    font-family: $font-primary;
    font-size: $font-size-smaller;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-right: $spacing-medium;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: color $transition-append;

    &:last-of-type { margin-right: 0; }

    &:hover {
      color: $color-grey-dark;
      &:after { width: 100%; }
    }
  }

  &__link:after {
    background: linear-gradient(to right, $color-red-lighter, $color-red);
    content: "";
    display: inline-block;
    height: 2px; width: 0;
    position: absolute;
      bottom: -3px;
      left: 0;
    transition: width 100ms ease-in;
    transition-delay: 100ms;
  }
}