.c-testimonial {
  &__card { 
    background-color: $color-off-black;
    border-radius: 3px;
    display: flex;
      flex-direction: column;
      justify-content: center;
    margin: $spacing-medium auto;
    padding: $spacing-medium;
    position: relative;
    width: 80%; max-width: 100rem;

    @include respond(tab-port) {
      width: 80%;
    }

    @include respond(tab-land) {
      margin: $spacing-large auto;
      padding: $spacing-larger;
    }
  }

  &__content {
    cursor: pointer;
    margin: 0 auto;
    width: 100%;
  }

  &__icon {
    color: var(--color-faded);
    font-size: 3rem;
    position: absolute;
      top: -1rem;
      left: -1rem;

    @include respond(tab-port) {
      font-size: 5rem;
      top: -2rem;
      left: -2rem;
    }

    @include respond(tab-land) {
      font-size: 10rem;
      top: -3rem;
      left: -3rem;
    }
  }

  &__text {
    color: $color-grey-lighter;
    font-family: $font-secondary;
    font-size: $font-size-normal;
    font-weight: 500;
    white-space: pre-line;

    @include respond(tab-port) { font-size: $font-size-normal-big; }
    @include respond(tab-land) { font-size: $font-size-large; }
  }

  &__person {
    color: $color-grey-lighter;
    font-weight: bold;
    font-size: $font-size-smaller;
    margin-top: $spacing-medium;

    @include respond(tab-port) { font-size: $font-size-small; }
    @include respond(tab-land) {
      font-size: $font-size-medium;
      margin-top: $spacing-large;
    }
  }

  &__position {
    color: $color-grey;
    font-size: $font-size-smallest;

    @include respond(tab-port) { font-size: $font-size-smaller; }
    @include respond(tab-land) { font-size: $font-size-small; }
  }

  &__dot {
    border: 1px solid $color-grey-darker;
    border-radius: 50%;
    transition: border $transition-append, background-color $transition-append;
    height: 1.5rem; width: 1.5rem;

    @include respond(tab-land) {
      height: 2rem; width: 2rem;
      margin: auto 5px;
    }

    &.is-selected {
      border-color: var(--color-faded);
      background-color: var(--color-faded);
    }
  }
}

.BrainhubCarousel__thumbnail {
  background: none;
  opacity: 1 !important;
}