.c-burger {
  $icon-size: 2rem;
  $icon-color: $color-grey-lightest;
  $burger-transition: 0.3s 100ms ease-in;

  &__container {
    animation: moveInTop 0.4s ease-in-out both;
    cursor: pointer;
    display: flex;
      align-items: center;
      justify-content: center;
    outline: none;
    text-align: center;
    height: 4rem; width: 4rem;
    transition: background-color $burger-transition;
    z-index: 2000;
  
    position: absolute;
      right: 5%;
  }

  &__line {
    // margin-top: 1.9rem;
    position: relative;
    transition: background-color $burger-transition, width $burger-transition;

    &.is-hero {
      background-color: $color-grey-light;
      &::before, &::after { background-color: $color-grey-light; }
    }

    &,
    &::before,
    &::after {
      background-color: $icon-color;
      display: inline-block;
      height: 2px; width: 3rem;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
        left: 0;
      transition: transform $burger-transition;
    }

    &::before { transform: translateY(-8px); }
    &::after { transform: translateY(8px); }
  }

  &__container.is-open &__line {
    background-color: transparent;

    &::before,
    &::after {
      background-color: $icon-color;
      top: 0;
      width: 3rem;
    }

    &::before { transform: translateY(0) rotate(315deg); }
    &::after { transform: translateY(0) rotate(405deg); }
  }
}