.c-heading {
  font-family: $font-primary;
  text-decoration: none;

  // General Styles
  &--condensed {
    font-size: $font-size-smaller;
    font-weight: 600;
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }

  &--section {
    font-size: $font-size-largest;
  }

  // 1-Liners
  &--centered { text-align: center; }
  &--light { color: $color-grey-lightest; }
  &--light-red { color: $color-red-light; }
  &--smaller { font-size: $font-size-smaller; }
}