.c-body-text {
  font-family: $font-secondary;
  font-size: $font-size-medium;
  white-space: pre-line;

  &--centered { text-align: center; }
  &--small { font-size: $font-size-normal-big; }
  &--light { color: $color-grey-lightest; }
}