.c-feature {
  $easing: 400ms 50ms cubic-bezier(0.11, 0, 0.5, 0);

  &__projects {
    display: flex;
      flex-direction: column;
  }

  &__project {
    cursor: pointer;
    margin-top: 15rem;
    text-decoration: none;
    text-align: center;
    width: 55%;

    &:first-child { margin-top: $spacing-largest; }
    &:nth-child(even) { align-self: flex-end; }
  }

  &__project:hover {
    .c-feature__image-container:before { opacity: 1; }
    .c-feature__image { transform: scale(1.03); }
    .c-feature__text {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    .c-feature__window { border-width: 1.6rem; }
  }

  &__text {
    border-radius: 1px;
    color: $color-grey-lightest;
    display: inline-block;
    width: 80%;
    padding: $spacing-medium $spacing-medium;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-48%, -45%);
    transition: opacity $easing, transform $easing;
    opacity: 0;
    z-index: 3;
  }

  &__tech-list {
    margin-top: $spacing-small;
  }

  &__tech-item {
    color: $color-grey-lighter;
    display: inline-block;
    list-style-type: none;
    margin-right: $spacing-medium;
  }

  &__image-container {
    height: 100%; width: 100%;
    position: relative;
      top: 0;
      left: 0;
    overflow: hidden;
    opacity: 1;
  }

  &__image-container:before {
    background-color: rgba($color-black, 0.66);
    content: "";
    height: 100%; width: 100%;
    opacity: 0;
    position: absolute;
      top: 0;
      left: 0;
    transition: opacity $easing;
    z-index: 1;
  }

  &__image {
    display: block;
    object-fit: cover;
    position: absolute;
      top: 0;
      left: 0;
    opacity: 1;
    height: 100%; width: 100%;
    transition: transform $easing;
  }

  &__window {
    border: 0px solid var(--color);
    // border-image: var(--gradient-alt);
    border-image-slice: 1;
    position: absolute;
      top: 0;
    height: 100%;
    width: 100%;
    transition: border $easing;
    z-index: 20;
  }
}