.c-about {
  &__cards {
    display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

    @include respond(tab-land) { flex-direction: row; }
  }

  &__card {
    border-radius: 1px;
    width: 100%; max-width: 40rem;

    @include respond(tab-land) { height: 60rem; width: 50%; }

    @include respond(desktop) {
      height: auto;
      width: 50%; max-width: 44em;
    }
  }

  &__card--left {
    background-color: $color-grey-darkest;
    color: $color-off-white;
    z-index: 20;

    @include respond(desktop) { transform: translateX(3rem); }
    @include respond(desktop) { transform: translateX(6rem); }
  }

  &__card--right {
    background-color: $color-off-black;
    color: $color-grey-lightest;
    display: flex;
      align-items: center;
      justify-content: center;
    position: relative;
    z-index: 0;
    
    @include respond(desktop) { transform: translate(-3rem, 8rem); }
    @include respond(big-desktop) { transform: translate(-6rem, 8rem); }
  }

  &__left-content,
  &__right-content {
    padding: $spacing-medium;

    @include respond(tab-port) { padding: $spacing-large; }
    @include respond(tab-land) { padding: $spacing-larger; }
  }

  &__right-content {
    height: 100%;
  }

  &__grid {
    display: flex;
      justify-content: start;
  }

  &__column:last-of-type {
    margin-left: $spacing-large;

    @include respond(desktop) {
      margin-left: $spacing-larger;
    }
  }

  &__list {
    margin-left: 2.2rem;
  }

  &__list-item {
    color: $color-grey-lighter;
    list-style-type: none;
    margin-top: $spacing-smallest;
    position: relative;
  }

  &__list-item:before {
    color: var(--color-light);
    content: "▹";
    line-height: 1.4;
    position: absolute;
      left: -2rem;
  }
}