.c-why {
  &__section {
    background-color: $color-black;
    color: $color-grey-lightest;
    min-height: 30vh;
  }

  &__icons {
    display: flex;
      justify-content: space-between;
  }

  &__icon-container {
    display: flex;
      flex-direction: column;
      align-items: center;
  }

  &__icon {
    stroke: $color-red-light;
    margin-bottom: $spacing-medium;
  }

  &__icon-heading {
    font-weight: 700;
    letter-spacing: 1px;
  }
}