.o-section {
  padding-top: 11rem;
  padding-bottom: 11rem;
  position: relative;

  @include respond(tab-port) {
    padding-top: 16rem;
    padding-bottom: 16rem;
  }

  @include respond(tab-land) {
    padding-top: 22rem;
    padding-bottom: 22rem;
  }

  &--white { background-color: $color-grey-lightest; }
  &--black { background-color: $color-black; }
  &--dark { background-color: $color-off-black; }
}