$gradient-red: linear-gradient(to right, $color-red-light, $color-red-dark);
$gradient-red-alt: linear-gradient(to right, #E92B5A, #E17076);
$gradient-dark: linear-gradient(to right, $color-grey-darkest, $color-black);