:root {
  --color-darker: #{$color-red-darker};
  --color-dark: #{$color-red-dark};
  --color: #{$color-red};
  --color-rgb: 235, 87, 87;
  --color-light: #{$color-red-light};
  --color-lighter: #{$color-red-lighter};
  --color-lighter-rgb: 255, 138, 138;
  --color-lightest: #{$color-red-lightest};
  --color-faded: #{$color-red-faded};
  --gradient: #{$gradient-red};
  --gradient-alt: #{$gradient-red-alt};
  --gradient-window: #{$gradient-red-window};
}

[data-theme="zephyr"] {
  --color-darker: #{$color-green-darker};
  --color-dark: #{$color-green-dark};
  --color: #{$color-green};
  --color-rgb: 0, 178, 125;
  --color-light: #{$color-green-light};
  --color-lighter: #{$color-green-lighter};
  --color-lighter-rgb: 51, 229, 176;
  --color-lightest: #{$color-green-lightest};
  --color-faded: #{$color-green-faded};
  --gradient: #{$gradient-green};
  --gradient-alt: #{$gradient-green-alt};
  --gradient-window: #{$gradient-green-window};
}