::selection {
  background: var(--color-lighter);
  background: rgba(var(--color-lighter-rgb), 0.3);
}

::-moz-selection {
  background: var(--color-lighter);
  background: rgba(var(--color-lighter-rgb), 0.3);
}

* {
  -webkit-tap-highlight-color: rgba(var(--color-lighter-rgb), 0.2);
}